# Ignore virtual environment folders
env/
venv/
cuda_venv/

# Ignore faces folder for face recognition
Website/Dashboard/Artificial_Intelligence/faces/

# Ignore csv
Website/Dashboard/static/*.xlsx

# Ignore Personnel Pics
/Website/Dashboard/static/img/personnel_pics/*/*.jpg
/Website/Dashboard/static/img/personnel_pics/*/*.jpeg
/Website/Dashboard/extracted_faces/personnel_pics/*

# Ignore Extracted Faces
/Website/Dashboard/static/img/extracted_faces/*/*.jpg
/Website/Dashboard/static/img/extracted_faces/*/*.jpeg
/Website/Dashboard/static/img/extracted_faces/*/*/*.jpg
/Website/Dashboard/static/img/extracted_faces/*/*/*.jpeg

# Ignore Python cache folders
__pycache__/

.env
*.jpg
*.jpeg
*.png
