{% extends '../components/base.html' %}
{% block title %}Stream{% endblock %}

{% block content %} 
{% csrf_token %}
<div class="content">
    <div class="container-xl">
        <!-- Page title -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col-auto">
                    <!-- Page pre-title -->
                    <div class="page-pretitle">Take</div>
                    <h2 class="page-title">{{ name }}'s Stream</h2>
                </div>
            </div>
        </div>
        <div class="row row-deck row-cards">
            <div class="col-12">
                <div class="card">
                    <div class="card-body text-center">
                        <img id="img_stream" src="{% url 'predict_video' 0 %}" class="img-fluid rounded w-100" style="display: block;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}