{% extends '../components/base.html' %}
{% block title %}
Dashboard Admin
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="content">
    <div class="container-xl">
      <!-- Page title -->
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col-auto">
            <div class="page-pretitle">Overview</div>
            <h2 class="page-title">Dashboard</h2>
          </div>
        </div>
      </div>
      <div class="row row-deck row-cards">
        <div class="col-sm-7">
            <div class="card">
                <div class="card-header border-0">
                    <h3 class="card-title">Employee Stats</h3>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <div style="max-width: 250px;" class="mr-2">
                            <div class="input-icon">
                                <input id="calendar-range" type="date"  class="form-control" placeholder="Select a date range" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div id="chart-bar"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
          <div class="card">
            <div class="card-header border-0">
                <h3 class="card-title">Today Employee Stats</h3>
            </div>
            <div class="card-body">
                <div id="chart-donut"></div>
            </div>
          </div>
        </div>

        <div class="col-12 p-2">
            <div class="card">
                <div class="card -header border-0">
                    <h3 class="card-title">Top Employee</h3>
                </div>
                <div class="card-body">
                    <div class="d-flex mb-3">
                        <div style="max-width: 200px;" class="mr-2">
                            <label for="month-select" class="form-label">Month</label>
                            <select id="month-select" name="month" class="form-select"></select>
                        </div>
                        <div style="max-width: 200px;" class="mr-2">
                            <label for="year-select" class="form-label">Year</label>
                            <select id="year-select" name="year" class="form-select"></select>
                        </div>
                        <div style="max-width: 200px;" class="mr-2">
                            <label for="performance-select" class="form-label">Performance</label>
                            <select id="performance-select" name="performance" class="form-select">
                                <option value="ontime" selected>Most On Time</option>
                                <option value="late">Most Late</option>
                                <option value="hardworking">Hardest Worker</option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <div class="table-responsive w-100">
                            <table class="table card-table table-vcenter text-nowrap datatable">
                                <thead>
                                    <tr>
                                        <th class="w-1">No.</th>
                                        <th>ID Employee</th>
                                        <th>Nama Employee</th>
                                        <th>Divisi</th>
                                        <th>Total Ontime</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for employee in top_employees %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><span class="text-muted">{{ employee.employee_id }}</span></td>
                                        <td>{{ employee.name }}</td>
                                        <td>{{ employee.division }}</td>
                                        <td>{{ employee.total_ontime }}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="5" class="text-center">No top employees found.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      </div>
    </div>
</div>

<!-- Libs JS -->
<script src="../dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../dist/libs/jquery/dist/jquery.slim.min.js"></script>
<script src="../dist/libs/peity/jquery.peity.min.js"></script>
<script src="../dist/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../dist/libs/flatpickr/dist/flatpickr.min.js"></script>
<!-- Tabler Core -->
<script src="../dist/js/tabler.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        flatpickr(document.getElementById('calendar-range'), {
            mode: "range"
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Populate months
        const monthSelect = document.getElementById('month-select');
        const months = [
            { value: 1, name: 'January' },
            { value: 2, name: 'February' },
            { value: 3, name: 'March' },
            { value: 4, name: 'April' },
            { value: 5, name: 'May' },
            { value: 6, name: 'June' },
            { value: 7, name: 'July' },
            { value: 8, name: 'August' },
            { value: 9, name: 'September' },
            { value: 10, name: 'October' },
            { value: 11, name: 'November' },
            { value: 12, name: 'December' }
        ];

        months.forEach(month => {
            const option = document.createElement('option');
            option.value = month.value;
            option.textContent = month.name;
            monthSelect.appendChild(option);
        });

        // Populate years
        const yearSelect = document.getElementById('year-select');
        const currentYear = new Date().getFullYear();
        for (let i = currentYear; i <= currentYear + 5; i++) { // Next 5 years
            const option = document.createElement('option');
            option.value = i;
            option.textContent = i;
            yearSelect.appendChild(option);
        }
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        window.ApexCharts && (new ApexCharts(document.getElementById('chart-donut'), {
            chart: {
                type: "donut",
                fontFamily: 'inherit',
                height: 240,
                sparkline: {
                    enabled: true
                },
                animations: {
                    enabled: false
                },
            },
            fill: {
                opacity: 1,
            },
            series: [{{ summary.ontime }}, {{ summary.late }}],
            labels: ["Ontime", "Late"],
            grid: {
                strokeDashArray: 4,
            },
            colors: ["#206bc4", "#cd201f"],
            legend: {
                show: true,
            },
            tooltip: {
                fillSeriesColor: false
            },
        })).render();
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        window.ApexCharts && (new ApexCharts(document.getElementById('chart-bar'), {
            chart: {
                type: "bar",
                fontFamily: 'inherit',
                height: 250,
                parentHeightOffset: 0,
                toolbar: {
                    show: false,
                },
                animations: {
                    enabled: false
                },
                stacked: true,
            },
            plotOptions: {
                bar: {
                    columnWidth: '50%',
                }
            },
            dataLabels: {
                enabled: false,
            },
            fill: {
                opacity: 1,
            },
            series: [{
                name: "Ontime",
                data: [155, 65, 465, 265, 225, 325, 80]
            },{
                name: "Late",
                data: [113, 42, 65, 54, 76, 65, 35]
            }],
            grid: {
                padding: {
                    top: -20,
                    right: 0,
                    left: -4,
                    bottom: -4
                },
                strokeDashArray: 4,
            },
            xaxis: {
                labels: {
                    padding: 0
                },
                tooltip: {
                    enabled: false
                },
                axisBorder: {
                    show: false,
                },
                type: 'datetime',
            },
            yaxis: {
                labels: {
                    padding: 4
                },
            },
            labels: [
                '2020-06-20', '2020-06-21', '2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25', '2020-06-26'
            ],
            colors: ["#206bc4", "#cd201f"],
            legend: {
                show: true,
                position: "top"
            },
        })).render();
    });
</script>
<script>
  document.body.style.display = "block"
</script>
{% endblock %}