
{% extends '../components/base.html' %}
{% block title %}
Employees
{% endblock %}
<!-- This is comment to prevent Prettifier -->
{% block content %} {% csrf_token %}

<div class="content">
    <div class="container-xl">
      <!-- Page title -->
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col-auto">
            <!-- Page pre-title -->
            <div class="page-pretitle">
              Employees
            </div>
            <h2 class="page-title">
              Employees
            </h2>
          </div>
          <!-- Page title actions -->
          <div class="col-auto ml-auto d-print-none">
            <a  class="btn btn-white" data-toggle="modal" data-target="#modal-import">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path><polyline points="7 9 12 4 17 9"></polyline><line x1="12" y1="4" x2="12" y2="16"></line></svg>
                Import
              </a>
            <a onclick="openAddPersonnelModal()" class="btn btn-primary ml-3 d-none d-sm-inline-block" data-toggle="modal" data-target="#modal-tambah">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
              Add
            </a>
            <a href="#" class="btn btn-primary ml-3 d-sm-none btn-icon" data-toggle="modal" data-target="#modal-tambah">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
            </a>
          </div>
        </div>
      </div>
      <div class="row row-deck row-cards">

        <div class="col-12">
            <div class="card">
                <!-- <div class="card-header">
                    
                </div> -->
                <div class="card-body border-bottom py-3">
                    <div class="d-flex mb-4">
                        <div style="max-width: 200px;" class="mr-2">
                            <select class="form-select">
                                <option selected>All Division</option>
                                {% for division in divisions %}
                                <option>{{division.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="text-muted">
                            Show
                            <div class="mx-2 d-inline-block">
                            <input type="text" class="form-control form-control-sm" value="8" size="3">
                            </div>
                            entries
                        </div>
                        <div class="ml-auto text-muted">
                            Search:
                            <div class="ml-2 d-inline-block">
                            <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap datatable">
                        <thead>
                            <tr>
                                <th class="w-1">
                                    No.
                                </th>
                                <th>ID Pegawai</th>
                                <th>Nama Pegawai</th>
                                <th>Divisi</th>
                                <th>Email</th>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Dataset Foto</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for employee in employees %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <a onclick="openPersonnelDetailModal({{ employee.id }}, '{{ employee.name }}')">
                                <td>
                                    <span class="text-muted">{{employee.id}}</span>
                                </td>
                                <td>{{employee.name}}</td>
                                <td>{{employee.division.name}}</td>
                            </a>
                                <td>{{employee.user.email}}</td>
                                <td>{{employee.user.username}}</td>
                                <td>********</td>
                                <td>     <a href="#" onclick="openDatasetPage({{ employee.id }})" class="btn btn-primary ml-3 d-none d-sm-inline-block" data-toggle="modal" data-target="#modal-tambah">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24H0z"/>
                                        <line x1="12" y1="5" x2="12" y2="19"/>
                                        <line x1="5" y1="12" x2="19" y2="12"/>
                                    </svg>
                                    Open Dataset
                                </a></td>
                                <td class="text-right">
                                    <span class="dropdown ml-1">
                                    <button class="btn btn-white btn-sm dropdown-toggle align-text-top" data-boundary="viewport" data-toggle="dropdown">Actions</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" onclick="openEditModal({{ employee.id }})">
                                        Edit
                                        </a>
                                        <a class="dropdown-item" href="#" onclick="deleteEmployee({{ employee.id }})">
                                        Delete
                                        </a>
                                    </div>
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer d-flex align-items-center">
                    <p class="m-0 text-muted">Showing <span>1</span> to <span>8</span> of <span>16</span> entries</p>
                    <ul class="pagination m-0 ml-auto">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><polyline points="15 6 9 12 15 18" /></svg>
                        prev
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                        next <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><polyline points="9 6 15 12 9 18" /></svg>
                        </a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>

      </div>
    </div>

  </div>
</div>

<!-- MODAL ADD EMPLOYEE -->
<div class="modal modal-blur fade" id="modal-add-employee" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="add-employee-form" method="POST"  method="POST" onsubmit="event.preventDefault(); addEmployee();">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title">Add Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" onclick="closeModal('modal-add-employee')">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24V0H0z"/>
                            <line x1="18" y1="6" x2="6" y2="18"/>
                            <line x1="6" y1="6" x2="18" y2="18"/>
                        </svg>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Employee Name</label>
                        <input type="text" class="form-control" name="name" id="add-employee-name" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Division</label>
                        <select class="form-select" name="division" id="add-employee-division" required>
                            <option selected>Choose Division</option>
                            {% for division in divisions %}
                            <option value="{{ division.id }}">{{ division.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" id="add-employee-email" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" id="add-employee-username" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="add-employee-password" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-link link-secondary" onclick="closeModal('modal-add-employee')">Cancel</a>
                    <button type="submit" class="btn btn-primary ml-auto">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- MODAL EDIT EMPLOYEE -->
<div class="modal modal-blur fade" id="modal-edit-employee" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="edit-employee-form" method="POST" onsubmit="event.preventDefault(); updateEmployee();">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title">Edit Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" onclick="closeModal('modal-edit-employee')">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24V0H0z"/>
                            <line x1="18" y1="6" x2="6" y2="18"/>
                            <line x1="6" y1="6" x2="18" y2="18"/>
                        </svg>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="employee_id" id="edit-employee-id">
                    <div class="mb-3">
                        <label class="form-label">Employee Name</label>
                        <input type="text" class="form-control" name="name" id="edit-employee-name" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Division</label>
                        <select class="form-select" name="division" id="edit-employee-division" required>
                            <option selected>Choose Division</option>
                            {% for division in divisions %}
                            <option value="{{ division.id }}">{{ division.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" id="edit-employee-email" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" id="edit-employee-username" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="edit-employee-password" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-link link-secondary" onclick="closeModal('modal-edit-employee')">Cancel</a>
                    <button type="submit" class="btn btn-primary ml-auto">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- MODAL DATASET PHOTO -->
<div class="modal modal-blur fade" id="modal-dataset-photo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-dataset-photo-title">Personnel Images</h5>
          <button type="button" class="close" data-dismiss="modal"onclick="closeModal('modal-dataset-photo')">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24V0H0z"/><line x1="18" y1="6" x2="6" y2="18" /><line x1="6" y1="6" x2="18" y2="18" /></svg>
          </button>
        </div>
        <div class="modal-body">
            <div id="imagesGrid" class="container d-flex justify-content-center flex-wrap gap-4 w-full">
                <!-- Images will be dynamically loaded here -->
            </div>
            <div id="noImagesMessage" class="text-center mt-4 hidden">
                <p>No images available.</p>
            </div>
            <div id="dropArea" class="border-2 border-dashed p-4 mt-4 text-center cursor-pointer">
                <p>Drag and drop your images here, or click to select images</p>
                <input type="file" id="fileInput" accept="image/*" class="hidden" multiple>
            </div>
            <div id="previewArea" class="hidden mt-4">
                <div id="imagePreview" class="flex space-x-4">
                    <h3>Image Preview:</h3>
                </div>
            </div>
            <div id="moveDropdown" class="hidden">
                <select id="moveToPersonnel" class="form-select">
                    <!-- Dropdown options will be populated dynamically -->
                </select>
                <button class="btn btn-primary" onclick="moveImage()">Move</button>
            </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-link link-secondary" onclick="closeModal('modal-dataset-photo')">
            Cancel
          </a>
          <a href="#" id="addImageLink" class="btn btn-primary ml-auto" onclick="uploadImages()">
            Add Image
          </a>
        </div>
      </div>
    </div>
</div>

<!-- MODAL DETAIL -->
<div class="modal modal-blur fade" id="modal-detail-employee" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Personnel Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><line x1="18" y1="6" x2="6" y2="18" /><line x1="6" y1="6" x2="18" y2="18" /></svg>
          </button>
        </div>
        <div class="modal-body">
            <div class="flex justify-center mb-4">
                <img id="profileImage" src="" alt="Profile Image" class="rounded-full w-32 h-32 object-cover">
            </div>
            <div class="text-center">
                <h3 id="personnelNameText" class="text-xl font-semibold"></h3>
                <p id="personnelGender" class="text-gray-600"></p>
                <p id="personnelEmploymentStatus" class="text-gray-600"></p>
            </div>
            <div class="mt-4">
                <h4 class="text-lg font-semibold">Attendance Details</h4>
                <div class="grid grid-cols-2 gap-4 mt-2">
                    <div class="stat-box">
                        <h4>Total Presence</h4>
                        <p id="totalPresence">0</p>
                    </div>
                    <div class="stat-box">
                        <h4>Total On Time</h4>
                        <p id="totalOntime">0</p>
                    </div>
                    <div class="stat-box">
                        <h4>Total Late</h4>
                        <p id="totalLate">0</p>
                    </div>
                    <div class="stat-box">
                        <h4>Total Absence</h4>
                        <p id="totalAbsence">0</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-link link-secondary" onclick="closeModal('modal-detail-employee')">
            Close
          </a>
        </div>
      </div>
    </div>
</div>



<!-- MODAL IMPORT -->
<div class="modal modal-blur fade" id="modal-import" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Import Employee Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><line x1="18" y1="6" x2="6" y2="18" /><line x1="6" y1="6" x2="18" y2="18" /></svg>
          </button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label class="form-label">File Excel</label>
                <div class="form-file">
                    <input type="file" class="form-file-input" id="customFile" accept=".xlsx">
                    <label class="form-file-label" for="customFile">
                      <span class="form-file-text">Choose file...</span>
                      <span class="form-file-button">Browse</span>
                    </label>
                </div>
                <small class="form-hint">File formt must .xlsx</small>
            </div>
            
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-link link-secondary" data-dismiss="modal">
            Cancel
          </a>
          <a href="#" class="btn btn-primary ml-auto" data-dismiss="modal">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path><polyline points="7 9 12 4 17 9"></polyline><line x1="12" y1="4" x2="12" y2="16"></line></svg>
            Import
          </a>
        </div>
      </div>
    </div>
</div>

<script>

  function openDatasetPage(id) {
    window.location.href = `/dataset/${id}/`;
}

    document.addEventListener('DOMContentLoaded', function() {

     
        // Event listener untuk tombol "Detail Employee"
        document.querySelectorAll('.detailEmployeeBtn').forEach(button => {
          button.addEventListener('click', function() {
            const employeeId = this.getAttribute('data-id');
            const employeeName = this.getAttribute('data-name');
            openPersonnelDetailModal(employeeId, employeeName);
          });
        });
      
        // Event listener untuk tombol "Dataset Foto"
        document.querySelectorAll('.datasetPhotoBtn').forEach(button => {
          button.addEventListener('click', function() {
            const employeeId = this.getAttribute('data-id');
            const employeeName = this.getAttribute('data-name');
            openImagesModal(employeeId, employeeName);
          });
        });
      });
      
      function openAddPersonnelModal() {
        $('#modal-add-employee').modal('show');
      }
      
      function openEditModal(id) {
        fetch(`/personnels/${id}/`)
          .then(response => response.json())
          .then(data => {
            document.getElementById('edit-employee-id').value = data.id;
            document.getElementById('edit-employee-name').value = data.name;
            document.getElementById('edit-employee-division').value = data.division.id;
            document.getElementById('edit-employee-email').value = data.email;
            document.getElementById('edit-employee-username').value = data.username;
            document.getElementById('edit-employee-password').value = data.password;
            $('#modal-edit-employee').modal('show');
          })
          .catch(error => {
            console.error('Error fetching employee data:', error);
          });
      }
      
      function openPersonnelDetailModal(personnelId, personnelName) {
        fetch(`/personnels/${personnelId}/`)
          .then(response => response.json())
          .then(data => {
            document.getElementById('personnelNameText').innerText = data.name;
            document.getElementById('personnelGender').innerText = data.gender === 'F' ? 'Female' : data.gender === 'M' ? 'Male' : 'Unknown';
            document.getElementById('personnelEmploymentStatus').innerText = data.employment_status === 'I' ? 'Intern' : data.employment_status === 'S' ? 'Staff' : 'Unknown';
            document.getElementById('profileImage').src = data.profile_image ? `/static/${data.profile_image}` : '';
            fetch(`/attendance/${personnelId}/`)
              .then(response => response.json())
              .then(attendanceData => {
                document.getElementById('totalPresence').innerText = attendanceData.total_presence;
                document.getElementById('totalOntime').innerText = attendanceData.total_ontime;
                document.getElementById('totalLate').innerText = attendanceData.total_late;
                document.getElementById('totalAbsence').innerText = attendanceData.total_absence;
                $('#modal-detail-employee').modal('show');
              });
          })
          .catch(error => {
            console.error('Error fetching personnel details:', error);
          });
      }

      let selectedPersonnelId = null;
      
      function openImagesModal(personnelId, personnelName) {
        const imagesGrid = document.getElementById('imagesGrid');
        const noImagesMessage = document.getElementById('noImagesMessage');
        const modalTitle = document.getElementById('modal-dataset-photo-title');
        selectedPersonnelId = personnelId; 
        if (!imagesGrid || !noImagesMessage) {
          console.error('Required elements not found in the DOM.');
          return;
        }
        modalTitle.textContent = `${personnelName}'s Images`;
      
        fetch(`/personnels/images/${personnelId}/`)
          .then(response => response.json())
          .then(data => {
            console.log('Personnel Images Data:', data); // Tambahkan console.log di sini
      
            imagesGrid.innerHTML = '';  // Clear existing images
      
            if (data.images.length === 0) {
              // Show message if no images are found
              noImagesMessage.classList.remove('hidden');
            } else {
              // Hide no images message and load images in rows of 5 images
              noImagesMessage.classList.add('hidden');
              let rowHtml = '';
              data.images.forEach((img, index) => {
                if (index % 5 === 0 && index > 0) {
                  rowHtml += `<div class="w-full"></div>`; // New row after every 5 images
                }
                rowHtml += `
                  <div class="flex-none w-1/5">
                    <a class="mb-1 text-center image" 
                       style="width: 100px; height: 100px; cursor: pointer;" 
                       onclick="selectPhoto('${img.image_path}', this)">
                      <img src="/static/${img.image_path}"
                           alt="Personnel Image"
                           class="object-cover rounded-lg" style="width: 100px; height: 100px;"/>
                    </a>
                  </div>
                `;
              });
              imagesGrid.innerHTML += rowHtml; // Append all images to grid
            }
      
            $('#modal-dataset-photo').modal('show');
          })
          .catch(error => {
            console.error('Error fetching images:', error);
            noImagesMessage.classList.remove('hidden');
          });
      }

      
    document.addEventListener('DOMContentLoaded', function () {
      const dropArea = document.getElementById('dropArea');
      const fileInput = document.getElementById('fileInput');

      dropArea.addEventListener('click', () => fileInput.click());

      dropArea.addEventListener('dragover', (e) => {
          e.preventDefault();
          dropArea.classList.add('dragover');
      });

      dropArea.addEventListener('dragleave', () => {
          dropArea.classList.remove('dragover');
      });

      dropArea.addEventListener('drop', (e) => {
          e.preventDefault();
          dropArea.classList.remove('dragover');
          const files = e.dataTransfer.files;
          if (files.length) {
              fileInput.files = files;
              updatePreview(files);
          }
      });

      fileInput.addEventListener('change', () => {
          if (fileInput.files.length) {
              updatePreview(fileInput.files);
          }
      });

      function updatePreview(files) {
          const previewArea = document.getElementById('previewArea');
          const imagePreview = document.getElementById('imagePreview');
          previewArea.classList.remove('hidden');
          imagePreview.innerHTML = '<h3>Image Preview:</h3>';
          Array.from(files).forEach(file => {
              const reader = new FileReader();
              reader.onload = (e) => {
                  const img = document.createElement('img');
                  img.src = e.target.result;
                  img.classList.add('img-thumbnail', 'm-2');
                  img.style.maxWidth = '150px';
                  imagePreview.appendChild(img);
              };
              reader.readAsDataURL(file);
          });
      }
  });

  function uploadImages() {
      const fileInput = document.getElementById('fileInput');
      const files = fileInput.files;
      if (files.length === 0) {
          Swal.fire({
              title: 'Error!',
              text: 'Please select images to upload.',
              icon: 'error',
              confirmButtonText: 'OK'
          });
          return;
      }

      if (!selectedPersonnelId) {
          Swal.fire({
              title: 'Error!',
              text: 'Personnel ID is not set.',
              icon: 'error',
              confirmButtonText: 'OK'
          });
          return;
      }

      const formData = new FormData();
      Array.from(files).forEach(file => {
          formData.append('images', file);
      });

      fetch(`/personnels/images/add/${selectedPersonnelId}/`, {
          method: 'POST',
          body: formData,
          headers: {
              'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
          }
      })
      .then(response => response.json())
      .then(data => {
          if (data.status === 'success') {
              Swal.fire({
                  title: 'Success!',
                  text: 'Images uploaded successfully.',
                  icon: 'success',
                  confirmButtonText: 'OK'
              }).then(() => {
                  closeModal('modal-dataset-photo');
                  location.reload();
              });
          } else {
              Swal.fire({
                  title: 'Error!',
                  text: data.message,
                  icon: 'error',
                  confirmButtonText: 'OK'
              });
          }
      })
      .catch(error => {
          console.error('Error uploading images:', error);
          Swal.fire({
              title: 'Error!',
              text: 'An error occurred while uploading the images.',
              icon: 'error',
              confirmButtonText: 'OK'
          });
      });
  }
  
      function closeModal(modalId) {
        $(`#${modalId}`).modal('hide');
      }

      function addEmployee() {
        const formData = new FormData();
        formData.append('name', document.getElementById('add-employee-name').value);
        formData.append('division', document.getElementById('add-employee-division').value);
        formData.append('email', document.getElementById('add-employee-email').value);
        formData.append('username', document.getElementById('add-employee-username').value);
        formData.append('password', document.getElementById('add-employee-password').value);
      
        fetch('/add_personnel/', {
          method: 'POST',
          body: formData,
          headers: {
            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
          }
        })
        .then(response => response.json())
        .then(data => {
          if (data.status === 'success') {
            Swal.fire({
              title: 'Success!',
              text: 'Personnel added successfully.',
              icon: 'success',
              confirmButtonText: 'OK'
            }).then(() => {
            closeModal('modal-add-employee')
              location.reload();
            });
          } else {
            Swal.fire({
              title: 'Error!',
              text: data.message,
              icon: 'error',
              confirmButtonText: 'OK'
            });
          }
        })
        .catch(error => {
          console.error('Error adding employee:', error);
          Swal.fire({
            title: 'Error!',
            text: 'An error occurred while adding the personnel.',
            icon: 'error',
            confirmButtonText: 'OK'
          });
        });
      }


      function updateEmployee() {
        const employeeId = document.getElementById('edit-employee-id').value;
        const formData = new FormData();
        formData.append('name', document.getElementById('edit-employee-name').value);
        formData.append('division', document.getElementById('edit-employee-division').value);
        formData.append('email', document.getElementById('edit-employee-email').value);
        formData.append('username', document.getElementById('edit-employee-username').value);
        formData.append('password', document.getElementById('edit-employee-password').value);
      
        fetch(`/personnels/edit/${employeeId}/`, {
          method: 'POST',
          body: formData,
          headers: {
            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
          }
        })
        .then(response => response.json())
        .then(data => {
          if (data.status === 'success') {
            Swal.fire({
              title: 'Success!',
              text: 'Personnel updated successfully.',
              icon: 'success',
              confirmButtonText: 'OK'
            }).then(() => {
              closeModal('modal-edit-employee');
              location.reload();
            });
          } else {
            Swal.fire({
              title: 'Error!',
              text: data.message,
              icon: 'error',
              confirmButtonText: 'OK'
            });
          }
        }).catch(error => {
          console.error('Error updating employee:', error);
          Swal.fire({
            title: 'Error!',
            text: 'An error occurred while updating the personnel.',
            icon: 'error',
            confirmButtonText: 'OK'
          });
        });
      }
      function deleteEmployee(employeeId) {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
          if (result.isConfirmed) {
            fetch(`/personnels/delete/${employeeId}/`, {
              method: 'POST',
              headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
              }
            })
            .then(response => response.json())
            .then(data => {
              if (data.status === 'success') {
                Swal.fire({
                  title: 'Deleted!',
                  text: 'Employee has been deleted.',
                  icon: 'success',
                  confirmButtonText: 'OK'
                }).then(() => {
                  location.reload();
                });
              } else {
                Swal.fire({
                  title: 'Error!',
                  text: data.message,
                  icon: 'error',
                  confirmButtonText: 'OK'
                });
              }
            })
            .catch(error => {
              console.error('Error deleting employee:', error);
              Swal.fire({
                title: 'Error!',
                text: 'An error occurred while deleting the employee.',
                icon: 'error',
                confirmButtonText: 'OK'
              });
            });
          }
        });
      }
  function closeModal(modalId) {
    $(`#${modalId}`).modal('hide');
    
  }
  
</script>
<style>
    /* Tambahkan ini di file CSS Anda */
    #dropArea {
      border: 2px dashed #007bff; /* Warna biru untuk border */
      padding: 20px;
      text-align: center;
      cursor: pointer;
      transition: border-color 0.3s ease;
    }
    
    #dropArea:hover {
      border-color: #0056b3; /* Warna biru gelap saat hover */
    }
</style>
{% endblock %}