<!-- filepath: /c:/Users/laila/cctv-people-counting/Website/Dashboard/templates/admin/stream.html -->
{% extends '../components/base.html' %}
{% block title %}
Presence Stream
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="content">
    <div class="container-xl">
        <!-- Page title -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col-auto">
                    <!-- Page pre-title -->
                    <div class="page-pretitle">Camera</div>
                    <h2 class="page-title">Presence Stream</h2>
                </div>
            </div>
        </div>

        <div class="row row-deck row-cards">
            <div class="col-12">
                <div class="card">
                    <!-- <div class="card-header">
                        
                    </div> -->
                    <div class="card-body border-bottom py-3">
                        <div class="d-flex">
                        <div class="text-muted">
                            Show
                            <div class="mx-2 d-inline-block">
                            <input type="text" class="form-control form-control-sm" value="8" size="3">
                            </div>
                            entries
                        </div>
                        <div class="ml-auto text-muted">
                            Search:
                            <div class="ml-2 d-inline-block">
                            <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                                <tr>
                                    <th class="w-1">
                                        No.
                                    </th>
                                    <th>Camera Name</th>
                                    <th>RTSP IP</th>
                                    <th>Camera Role</th>
                                    <th>Status</th>
                                    {% comment %} <th>View Stream</th> {% endcomment %}
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for cam in cams %}
                              <tr>
                                <td>{{ cam.id }}</td>
                                <td>{{ cam.cam_name }}</td>
                                <td>{{ cam.get_role_camera_display }}</td>
                                <td>{{ cam.feed_src }}</td>
                                <td>
                                  {% if cam.cam_is_active %}
                                  <span class="badge bg-success">Active</span>
                                  {% else %}
                                  <span class="badge bg-danger">Inactive</span>
                                  {% endif %}
                                </td>
                                
                                 <td>
                                  
                     
                                    {% if cam.cam_is_active %}
                                    <button type="button" class="btn btn-danger btn-sm stop-stream"
                                            onclick="toggleStream('stop', {{ cam.id }})"
                                            style="display: inline-block;">
                                        Stop Stream
                                    </button>
                                    {% else %}
                                    <button type="button" class="btn btn-primary btn-sm start-stream"
                                            onclick="toggleStream('start', {{ cam.id }})"
                                            style="display: inline-block;">
                                        Start Stream
                                    </button>
                                    {% endif %}
                                    <button class="btn btn-primary btn-sm" onclick="redirectToStream({{ cam.id }})">View Stream</button>
                                </td> 

    
                              </tr>
                              {% endfor %}
     
                  
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer d-flex align-items-center">
                        <p class="m-0 text-muted">Showing <span>1</span> to <span>8</span> of <span>16</span> entries</p>
                        <ul class="pagination m-0 ml-auto">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><polyline points="15 6 9 12 15 18" /></svg>
                            prev
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                            next <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><polyline points="9 6 15 12 9 18" /></svg>
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function redirectToStream(camId) {
        console.log("Camera ID:", camId); 
        // Set session cam_id
        fetch("{% url 'set_cam_id' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ cam_id: camId })
        })
        .then(response => {
          if (response.redirected) {
              // If the response is a redirect, navigate to the new URL
              window.location.href = response.url;  // Use the URL from the response
          } else {
              return response.json();
          }
      })
      .then(data => {
          if (data && data.status !== 'success') {
              console.error('Error setting cam_id:', data.message);
          }
      })
        .catch(error => {
            console.error('Error setting cam_id:', error);
        });
    }

    function toggleStream(action, camId) {
        const startButton = document.getElementById(`start-stream-${camId}`);
        const stopButton = document.getElementById(`stop-stream-${camId}`);
        const loader = document.getElementById(`loader-${camId}`);
        const imgStream = document.getElementById(`img_stream_${camId}`);
    
        if (action === 'start') {
            loader.style.display = 'block';
            imgStream.style.display = 'none';
            startButton.style.display = 'none';
            stopButton.style.display = 'inline-block';
    
            fetch(`/start_presence_stream/${camId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ cam_id: camId })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    loader.style.display = 'none';
                    imgStream.style.display = 'block';
                } else {
                    alert('Failed to start stream');
                    startButton.style.display = 'inline-block';
                    stopButton.style.display = 'none';
                }
            })
            .catch(error => {
                console.error('Error starting stream:', error);
                alert('Failed to start stream');
                startButton.style.display = 'inline-block';
                stopButton.style.display = 'none';
            });
        } else if (action === 'stop') {
            fetch(`/stop_presence_stream/${camId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ cam_id: camId })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    imgStream.style.display = 'none';
                    startButton.style.display = 'inline-block';
                    stopButton.style.display = 'none';
                } else {
                    alert('Failed to stop stream');
                }
            })
            .catch(error => {
                console.error('Error stopping stream:', error);
                alert('Failed to stop stream');
            });
        }
    }
</script>
{% endblock %}