{% extends 'base.html' %} {% block content %}
<!-- insert content -->

<div class="card d-flex w-36 justify-content-between align-items-start mb-3 py-3 responsive responsive-card effected shadow-black shadow-lg">
  <div class="pl-4">
    <a class="d-flex nav-link text-dark align-items-center gap-2 effected bg-transparent">
      <i class="fa-solid fa-camera text-center" style="font-size: 20px"></i>
      {% if Active_Cam == None %}
      <span class="effected" style="font-weight: 600; font-size: 20px"
        >Add Presence Camera</span
      >
      {% else %}
      <span class="ffected" style="font-weight: 600; font-size: 20px"
        >Camera Settings</span
      >
      {% endif %}
    </a>
  </div>
</div>
<div
  class=" card d-flex w-36 justify-content-between align-items-start  mx-5 mb-20 py-3 px-4 responsive responsive-card effected shadow-black shadow-lg"
  style="border-radius: 25px;"
>
  <form
    id="camera_form"
    action="{% url 'add_presence_camera' %}" method="POST"

    class="d-flex flex-column justify-content-center align-items-center mb-3 w-100"
  >
    {% csrf_token %}
    <p style="align-items: start; width: 100%">
      <span class="effected">Camera Name:</span>
      <br />
      <input
        name="cam_name"
        type="text"
        class="effected edit-text"
        style="width: 100%"
        maxlength="21"
        value="{{Active_Cam.cam_name}}"
        placeholder="Insert Camera Name"
        required
      />
    </p>
    <p style="align-items: start; width: 100%">
      <span class="effected">RTSP Link:</span>
      <br />
      <input
        name="feed_src"
        type="text"
        class="effected edit-text"
        style="width: 100%"
        value="{{Active_Cam.feed_src}}"
        placeholder="Insert RTSP Link"
        required
      />
    </p>
    <p style="align-items: start; width: 100%">
      <span class="effected">Camera Role:</span>
      <br />

        <label class="effected">
          <input
            type="radio"
            name="role_camera"
            value="P_IN"
            class="effected"
            {% if Active_Cam and Active_Cam.role_camera == "P_IN" %}
            checked
            {% endif %}
          />
          Camera In
        </label>
        <label class="effected">
          <input
            type="radio"
            name="role_camera"
            value="P_OUT"
            class="effected"
            {% if Active_Cam and Active_Cam.role_camera == "P_OUT" %}
            checked
            {% endif %}
          />
          Camera Out
        </label>


    </p>


    <div class="d-flex justify-content-between mb-3" style="width: 100%">
      <a>
        <span class="effected">Attendance Start:</span><br />
        <input
          id="attendance-start-time"
          title="Attendance Start Time"
          name="attendance_time_start"
          type="time"
          step="300"
          class="effected time-input"
          value="{{ Active_Cam.attendance_time_start|default:'08:00:00' }}"
          onchange="checkValidTimeRange()"
          style="cursor: pointer; width: 35vw;"
          required
        />
      </a>
      <span class="mt-3 d-flex align-items-center effected">to</span>
      <a>
        <span class="effected">Attendance Stop:</span><br />
        <input
          id="attendance-end-time"
          title="Attendance Stop Time"
          name="attendance_time_end"
          type="time"
          step="300"
          class="effected time-input"
          value="{{ Active_Cam.attendance_time_end|default:'17:00:00' }}"
          onchange="checkValidTimeRange()"
          style="cursor: pointer; width: 35vw;"
          required
        />
      </a>
    </div>
    <div class="d-flex justify-content-between mb-3" style="width: 100%">
      <a>
        <span class="effected">Leaving Start:</span><br />
        <input
          id="leaving-start-time"
          title="Leaving Start Time"
          name="leaving_time_start"
          type="time"
          step="300"
          class="effected time-input"
          value="{{ Active_Cam.leaving_time_start|default:'08:00:00' }}"
          onchange="checkValidTimeRange()"
          style="cursor: pointer; width: 35vw;"
          required
        />
      </a>
      <span class="mt-3 d-flex align-items-center effected">to</span>
      <a>
        <span class="effected">Leaving Stop:</span><br />
        <input
          id="leaving-end-time"
          title="Leaving Stop Time"
          name="leaving_time_end"
          type="time"
          step="300"
          class="effected time-input"
          value="{{ Active_Cam.leaving_time_end|default:'17:00:00' }}"
          onchange="checkValidTimeRange()"
          style="cursor: pointer; width: 35vw;"
          required
        />
      </a>
    </div>


    <div
      class="d-flex justify-content-between align-items-center gap-2"
      style="width: 100%"
    >
      <button
        type="button"
        class="btn btn-danger btn-user btn-block m-0"
        style="border-radius: 20px; padding-left: 2%; padding-right: 2%"
        onclick="backToCameraPage()"
      >
        Cancel
      </button>
      {% if Active_Cam == None %}
      <button
        class="btn btn-primary btn-user btn-block m-0"
        type="submit"
        style="border-radius: 20px; padding-left: 2%; padding-right: 2%"
      >
        Add Camera
      </button>
      {% else %}
      <button
        type="submit"
        class="btn btn-success btn-user btn-block m-0"
        style="border-radius: 20px; padding-left: 2%; padding-right: 2%"
      >
        Save
      </button>
      {% endif %}
    </div>
  </form>
  {% if Active_Cam != None %}
  <a
    class="align-self-center mt-2 text-center"
    style="
      border-radius: 20px;
      padding-left: 2%;
      padding-right: 2%;
      width: 200px;
      color: red;
      font-weight: 600;
      cursor: pointer;
      text-decoration: none;
    "
    href="{% url 'delete_camera' Active_Cam.id %}"
  >
    Delete Camera
  </a>
  {% endif %}
</div>

<script>
  var labels = document.getElementsByTagName("label");
  for (var i = 0; i < labels.length; i++) {
    labels[i].classList.add("effected");
  }

  elements = document.getElementsByClassName("effected");

  for (var i = 0; i < elements.length; i++) {
    if (localStorage.getItem("darkMode") == "enabled") {
      elements[i].classList.add("dark-mode");
    } else {
      elements[i].classList.add("light-mode");
    }
  }
</script>

<script>
  var currentStartTime = document.getElementById("start-time").value;
  var currentEndTime = document.getElementById("end-time").value;

  function cancelEdit() {
    window.location.href = "{% url 'camera' %}";
  }

  function checkValidTimeRange() {
    var inputStart = document.getElementById("start-time");
    var inputEnd = document.getElementById("end-time");

    var startHour = inputStart.value.split(":")[0];
    var startMinute = inputStart.value.split(":")[1];
    var endHour = inputEnd.value.split(":")[0];
    var endMinute = inputEnd.value.split(":")[1];

    var startTime = parseInt(startHour + startMinute);
    var endTime = parseInt(endHour + endMinute);

    if (startTime > endTime) {
      Swal.fire({
        title: "Invalid Time Range!",
        icon: "error",
      });
      inputStart.value = currentStartTime;
      inputEnd.value = currentEndTime;
    } else {
      currentStartTime = document.getElementById("start-time").value;
      currentEndTime = document.getElementById("end-time").value;
    }
  }

  
  function backToCameraPage() {

    window.location.href = '/camera'; // Update with your URL
}

</script>
<!-- end logged cases -->
{% endblock %} {% block title %}Presence Camera {% endblock %}
