<!-- filepath: /c:/Users/laila/cctv-people-counting/Website/Dashboard/templates/profile.html -->
{% extends 'components/base.html' %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<div class="content">
    <div class="container-xl">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col-auto">
                    <!-- Page pre-title -->
                    <div class="page-pretitle">
                        Setting
                    </div>
                    <h2 class="page-title">
                        Profile
                    </h2>
                </div>
            </div>
        </div>
        <div class="row row-deck row-cards">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div id="profile-info">
                            <div class="mb-2">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control" value="{{ name }}" readonly>
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Email</label>
                                <input type="email" class="form-control" value="{{ user.email }}" readonly>
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control" value="{{ user.username }}" readonly>
                            </div>
                            <button class="btn btn-primary" onclick="toggleEditForm()">Edit Profile</button>
                        </div>

                        <div id="edit-profile-form" style="display: none;">
                            <h2>Edit Profile</h2>
                            <form method="post">
                                {% csrf_token %}
                                {% if user.role == 'superadmin' %}
                                    {{ form.as_p }}
                                {% elif user.role == 'admin' %}
                                    {{ form.0.as_p }}
                                    {{ form.1.as_p }}
                                {% elif user.role == 'employee' %}
                                    {{ form.0.as_p }}
                                    {{ form.1.as_p }}
                                {% endif %}
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                                <button type="button" class="btn btn-secondary" onclick="toggleEditForm()">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleEditForm() {
        var profileInfo = document.getElementById('profile-info');
        var editProfileForm = document.getElementById('edit-profile-form');
        if (profileInfo.style.display === 'none') {
            profileInfo.style.display = 'block';
            editProfileForm.style.display = 'none';
        } else {
            profileInfo.style.display = 'none';
            editProfileForm.style.display = 'block';
        }
    }
</script>
{% endblock %}